{%include 'admin/header.html'%} 

  <main id="main" class="main">
    <div class="container mt-5">
        <h1 class="text-center">إضافة فئة جديدة</h1>
        <form method="POST" action="{{ url_for('admin.add_category') }}" enctype="multipart/form-data" class="mt-4 p-4 border rounded bg-light">
            <div class="row">
              <div class=" mb-3">
                <label class="form-label">اسم القسم</label>
                <input type="text" name="name" class="form-control" required> 
              </div>
              <div class=" mb-3">
                <label class="form-label">قسم رئيسي (اختياري)</label>
                <select name="parent" class="form-select">
                  <option value="">-- بدون --</option>
                  {% for cat in categories %}
                    <option value="{{ cat['id'] }}">{{ cat['name'] }}</option>
                  {% endfor %}
                </select>
              </div>
              <div class=" mb-3">
                <label class="form-label">حالة الظهور</label>
                <select name="is_active" class="form-select">
                  <option value="1">ظاهر</option>
                  <option value="0">مخفي</option>
                </select>
              </div>
              <div class="mb-3">
                <label class="form-label">صورة القسم</label>
                <input type="file" name="image" class="form-control">
              </div>
            </div>
            <button type="submit" class="btn btn-warning px-5">اضافة قسم</button>
          </form>
          </div>
    </main>
    {% include 'admin/footer.html' %}
