<!--signin page  -->
<main id="main" class="main">
  <div class="sing-in">
    <form class="from1" action="{{ url_for('admin.signin') }}" method="POST">
      <center>
        <h2 class="sing">Sing in</h2>
      </center>
      <label for="name" class="mt-3 mb-2">Username</label><br>
      <input class="col-md-12 " type="text" id="name" name="name" required>

      <label for="password" class="mt-3 mb-2">Password</label><br>
      <input class=" col-md-12" type="password" id="password" name="pass" required>
      <a href="password.php" class="forgot-password">Forgot Your Password?</a>
      <center>
        <button class="btn-login" type="submit" name="login">Login</button><br><br>
        Don't have account? <a href="{{ url_for('admin.signup') }}" class="ms-6" style="color:blue;">signup</a>
      </center>

    </form>
  </div>
  </body>

  </html>

  </center>
</main>
