{% include 'header_shop.html' %}

<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.0/css/all.min.css">


<div class="container py-5">
    <div class="card shadow-sm p-4">
        <h2 class="mb-4 text-center">تغيير كلمة المرور</h2>

     

        <form action="{{ url_for('user.change_password') }}" method="post">
            <div class="mb-3 password-container">
                <label for="old_password" class="form-label">كلمة المرور الحالية</label>
                <input type="password" class="form-control" id="old_password" name="old_password" required>
                <i class="fas fa-eye toggle-password" id="toggleOldPassword"></i>
            </div>
            <div class="mb-3 password-container">
                <label for="new_password" class="form-label">كلمة المرور الجديدة</label>
                <input type="password" class="form-control" id="new_password" name="new_password" required>
                <i class="fas fa-eye toggle-password" id="toggleNewPassword"></i>
            </div>
            <div class="mb-3 password-container">
                <label for="confirm_password" class="form-label">تأكيد كلمة المرور الجديدة</label>
                <input type="password" class="form-control" id="confirm_password" name="confirm_password" required>
                <i class="fas fa-eye toggle-password" id="toggleConfirmPassword"></i>
            </div>
            
            <div class="d-grid gap-2 mt-4">
                <button type="submit" class="btn btn-primary btn-lg">تغيير كلمة المرور</button>
                <a href="{{ url_for('user.profile') }}" class="btn btn-outline-secondary">إلغاء</a>
            </div>
        </form>
    </div>
</div>

{% include 'footer.html' %}

<script>
document.addEventListener('DOMContentLoaded', function() {
    const togglePassword = (inputId, toggleId) => {
        const passwordInput = document.getElementById(inputId);
        const toggleIcon = document.getElementById(toggleId);

        toggleIcon.addEventListener('click', function () {
            // تبديل نوع حقل الإدخال
            const type = passwordInput.getAttribute('type') === 'password' ? 'text' : 'password';
            passwordInput.setAttribute('type', type);

            // تبديل أيقونة العين (مفتوحة/مغلقة)
            this.classList.toggle('fa-eye');
            this.classList.toggle('fa-eye-slash');
        });
    };

    togglePassword('old_password', 'toggleOldPassword');
    togglePassword('new_password', 'toggleNewPassword');
    togglePassword('confirm_password', 'toggleConfirmPassword');
});
</script>