<style>
    .main {
    padding-bottom: 100px; /* مساحة كافية للفوتر */
}
</style>

<div class="main">
<div class="footer">
    <div class="footer-icon">
        <a class="nav-link" href="{{ url_for('profile') }}">
        <i class="fa fa-user"></i></a>
        <span></span>
    </div>
    
    <div class="footer-icon" >
        <a class="nav-link" href="{{ url_for('index') }}">
        <i class="fa fa-heart"></i></a>
        <span></span>
    </div>
    <div class="footer-icon">
        <a class="nav-link" href="{{ url_for('view_cart') }}">
        <i class="fa fa-shopping-cart"></i></a>
        <span></span>
    </div>
    <div class="footer-icon">
        <a class="nav-link" href="{{ url_for('index') }}">
            <i class="fa fa-home"></i></a>
        </a>
        
        <span></span>
    </div>
</div>


</div>


<!-- مكتبات الجافاسكريبت -->
<script src="static/style/js/jquery-3.6.0.min.js"></script>
<script src="static/style/js/bootstrap.bundle.min.js"></script>
<!-- Js Plugins -->
<script src="static/style/js/jquery-3.3.1.min.js"></script>
<script src="static/style/js/bootstrap.min.js"></script>
<script src="static/style/js/jquery.nice-select.min.js"></script>
<script src="static/style/js/jquery-ui.min.js"></script>
<script src="static/style/js/jquery.slicknav.js"></script>
<script src="static/style/js/mixitup.min.js"></script>
<script src="static/style/js/owl.carousel.min.js"></script>
<script src="static/style/js/main.js"></script>



</body>

</html>