<!DOCTYPE html>
<html lang="ar">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Rezza Shop</title>

    <!-- Google Font -->
    <link href="https://fonts.googleapis.com/css2?family=Cairo:wght@200;300;400;600;900&display=swap" rel="stylesheet">

    <!-- CSS Styles -->
    <link rel="stylesheet" href="static/style/css/bootstrap.min.css" type="text/css">
    <link rel="stylesheet" href="static/style/css/font-awesome.min.css" type="text/css">
    <link rel="stylesheet" href="static/style/css/elegant-icons.css" type="text/css">
    <link rel="stylesheet" href="static/style/css/nice-select.css" type="text/css">
    <link rel="stylesheet" href="static/style/css/jquery-ui.min.css" type="text/css">
    <link rel="stylesheet" href="static/style/css/owl.carousel.min.css" type="text/css">
    <link rel="stylesheet" href="static/style/css/slicknav.min.css" type="text/css">
    <link rel="stylesheet" href="static/style/css/use.css">
    <link rel="stylesheet" href="static/style/css/raniaa.css">


    <style>
    
    </style>
</head>

<body>

    <!-- شريط التنقل -->
    <nav class="navbar fixed-top">
        <ul class="navbar-nav">
            <li class="nav-item">
                <a class="nav-link" href="{{ url_for('user_categories') }}">
                    Rezza<!-- أيقونة بيت -->
                </a>
            </li>
            <li class="nav-item user-menu">
                <a class="nav-link" href="#">
                    الأقسام
                </a>
                <div class="user-dropdown">
                    <ul>
                        {% if categories %}
                        {% for category in categories %}
                        <li><a href="#">{{ category[1] }}</a></li>
                        {% endfor %}
                        {% else %}
                        <li>لا توجد أقسام متاحة</li>
                        {% endif %}
                    </ul>
                </div>
            </li>


            <li class="nav-item user-menu">
                <a class="nav-link" href="#">
                    صاحب المتجر
                </a>
                <div class="user-dropdown">
                    <a href="#">تسجيل</a>
                    <a href="#">تسجيل الدخول</a>
                    <a href="#">تسجيل الخروج</a>
                    <a href="#">خدمة العملاء</a>
                </div>
            </li>



            <!-- <li class="nav-item user-menu">
                <a class="nav-link" href="#">
                    <i class="fa fa-user"></i> أيقونة المستخدم
                </a>
                <div class="user-dropdown">
                    <a href="#">تسجيل</a>
                    <a href="#">تسجيل الدخول</a>
                    <a href="#">تسجيل الخروج</a>
                    <a href="#">خدمة العملاء</a>
                </div>
            </li> -->

            <!-- <li class="nav-item">
                <a class="nav-link" href="{{ url_for('cart') }}">
                    <i class="fa fa-shopping-cart"></i> أيقونة السلة
                </a>
            </li> -->
        </ul>
    </nav>

    <!-- البحث أسفل شريط التنقل -->
    <div class="search-container ">
        <div class="search-box">
            <input type="text" placeholder="ابحث عن منتج...">
            <button type="submit"><i class="fa fa-search"></i></button>
        </div>
    </div>