<!DOCTYPE html>
<html lang="ar">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Rezza Shop</title>

    <!-- Google Font -->
    <link href="https://fonts.googleapis.com/css2?family=Cairo:wght@200;300;400;600;900&display=swap" rel="stylesheet">

   <!-- CSS Styles -->
   <link rel="stylesheet" href="{{ url_for('static', filename='style/css/bootstrap.min.css') }}">
   <link rel="stylesheet" href="{{ url_for('static', filename='style/css/font-awesome.min.css') }}">
   <link rel="stylesheet" href="{{ url_for('static', filename='style/css/elegant-icons.css') }}">
   <link rel="stylesheet" href="{{ url_for('static', filename='style/css/nice-select.css') }}">
   <link rel="stylesheet" href="{{ url_for('static', filename='style/css/jquery-ui.min.css') }}">
   <link rel="stylesheet" href="{{ url_for('static', filename='style/css/owl.carousel.min.css') }}">
   <link rel="stylesheet" href="{{ url_for('static', filename='style/css/slicknav.min.css') }}">
   <link rel="stylesheet" href="{{ url_for('static', filename='style/css/use.css') }}">
   <link rel="stylesheet" href="{{ url_for('static', filename='style/css/rania1.css') }}">
   
   <!-- JavaScript Files -->
   <script src="{{ url_for('static', filename='style/js/jquery-3.6.0.min.js') }}"></script>
   <script src="{{ url_for('static', filename='style/js/bootstrap.bundle.min.js') }}"></script>
   <script src="{{ url_for('static', filename='style/js/owl.carousel.min.js') }}"></script>
   
    <style>
    
    </style>
</head>

<body>

    <!-- شريط التنقل -->
    <nav class="navbar fixed-top">
        <ul class="navbar-nav">
            <li class="nav-item">
                <a class="nav-link" href="{{ url_for('index') }}">
                    Rezza<!-- أيقونة بيت -->
                </a>
            </li>
            <li class="nav-item user-menu">
                <a class="nav-link" href="#">الأقسام</a>
                <div class="user-dropdown">
                    <ul>
                        {% if categories %}
                            {% for category in categories %}
                                {% if category[2] is none %}  {# التأكد أن هذا قسم رئيسي #}
                                    <li>
                                        <a href="{{ url_for('show_subcategories', category_id=category[0]) }}">
                                            {{ category[1] }}
                                        </a>
                                    </li>
                                {% endif %}
                            {% endfor %}
                        {% else %}
                            <li>لا توجد أقسام متاحة</li>
                        {% endif %}
                    </ul>
                </div>
            </li>
            

            <li class="nav-item user-menu">
                <a class="nav-link" href="#">
                    صاحب المتجر
                </a>
                <div class="user-dropdown">
                    <a href="#">تسجيل</a>
                    <a href="#">تسجيل الدخول</a>
                    <a href="#">تسجيل الخروج</a>
                    <a href="#">خدمة العملاء</a>
                </div>
            </li>

            <li class="nav-item user-menu">
                <a class="nav-link" href="#">
                    تسجيل الدخول
                </a>
                
            </li>


            <!-- <li class="nav-item user-menu">
                <a class="nav-link" href="#">
                    <i class="fa fa-user"></i> أيقونة المستخدم
                </a>
                <div class="user-dropdown">
                    <a href="#">تسجيل</a>
                    <a href="#">تسجيل الدخول</a>
                    <a href="#">تسجيل الخروج</a>
                    <a href="#">خدمة العملاء</a>
                </div>
            </li> -->

            <!-- <li class="nav-item">
                <a class="nav-link" href="{{ url_for('cart') }}">
                    <i class="fa fa-shopping-cart"></i> أيقونة السلة
                </a>
            </li> -->
        </ul>
    </nav>

    <!-- البحث أسفل شريط التنقل -->
    <div class="search-container ">
        <div class="search-box">
            <input type="text" placeholder="ابحث عن منتج...">
            <button type="submit"><i class="fa fa-search"></i></button>
        </div>
    </div>