{% include 'header.html' %}



                    <!-- Categories Section End -->
<!-- Hero Section Begin -->
<!-- <section class="hero">
    <div class="container">
        <div class="row">
            <div class="col-lg-3">
                <div class="hero__categories">
                    <div class="hero__categories__all">
                        <i class="fa fa-bars"></i>
                        <span>الأقسام</span>
                    </div>
                    <ul>
                        {% if categories %}
                            {% for category in categories %}
                                <li><a href="#">{{ category[1] }}</a></li>
                            {% endfor %}
                        {% else %}
                            <li>لا توجد أقسام متاحة</li>
                        {% endif %}
                    </ul>
                </div>
            </div>
            
           </div></div></section> -->
<style>

    .categories .container{
        /* margin-top: 200px; */
      

    }
.categories__item{
    width: 100%;
    /* padding: 0 50px 0 50px; */
    margin-right: auto;

}

</style>
<!-- الاعلانااااات -->
<section class="categories ">
    <div class="container">
        <div class="row">
            <div class="categories__slider owl-carousel">
                <!-- الإعلان الأول -->
                <div class="categories__item set-bg" data-setbg="static/style/img/categories/cat-1.jpg">
                    <div class="hero__text">
                        <span>FRUIT FRESH</span>
                        <h2>Vegetable <br />100% Organic</h2>
                        <p>Free Pickup and Delivery Available</p>
                        <a href="#" class="primary-btn">SHOP NOW</a>
                    </div>
                </div>

                <!-- الإعلان الثاني -->
                <div class="categories__item set-bg" data-setbg="static/style/img/categories/cat-2.jpg">
                    <div class="hero__text">
                        <span>FRUIT FRESH</span>
                        <h2>Vegetable <br />100% Organic</h2>
                        <p>Free Pickup and Delivery Available</p>
                        <a href="#" class="primary-btn">SHOP NOW</a>
                    </div>
                </div>

                <!-- الإعلان الثالث -->
                <div class="categories__item set-bg" data-setbg="static/style/img/categories/cat-3.jpg">
                    <div class="hero__text">
                        <span>FRUIT FRESH</span>
                        <h2>Vegetable <br />100% Organic</h2>
                        <p>Free Pickup and Delivery Available</p>
                        <a href="#" class="primary-btn">SHOP NOW</a>
                    </div>
                </div>

                <!-- الإعلان الرابع -->
                <div class="categories__item set-bg" data-setbg="static/style/img/categories/cat-5.jpg">
                    <div class="hero__text">
                        <span>FRUIT FRESH</span>
                        <h2>Vegetable <br />100% Organic</h2>
                        <p>Free Pickup and Delivery Available</p>
                        <a href="#" class="primary-btn">SHOP NOW</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>


<section class="latest-product spad">
    <div class="container">
        <div class="row">
            <div class="col-lg-12">
                <div class="latest-product__text">
                    <h4>الاقسام</h4>
                    <div class="latest-product__slider owl-carousel">
                        {% set main_categories = categories | selectattr("parent_id", "none") | list %}
                        {% for i in range(0, main_categories|length, 4) %}
                            <div class="latest-prdouct__slider__item">
                                {% for category in main_categories[i:i+4] %}
                                <a href="{{ url_for('show_subcategories', category_id=category['id']) }}" class="latest-product__item">
                                    <div class="latest-product__item__pic">
                                        <img src="{{ category['image'] }}" alt="{{ category['name'] }}">
                                    </div>
                                    <div class="latest-product__item__text">
                                        <h6>{{ category['name'] }}</h6>
                                    </div>
                                </a>
                                
                                {% endfor %}
                            </div>
                        {% endfor %}
                    </div>
                    
            </div>
        </div>
    </div>
</section>


<script>$('.owl-carousel').owlCarousel({
    loop: true, // يعيد التشغيل بعد الانتهاء
    margin: 10, // المسافة بين العناصر
    nav: true, // إظهار أزرار التنقل
    dots: true, // إظهار النقاط
    items: 1, // يعرض عنصر واحد فقط في كل مرة
    autoplay: true, // تشغيل تلقائي
    autoplayTimeout: 3000, // وقت الانتقال بين العناصر
    responsive: {
        0: {
            items: 1 // يعرض عنصر واحد على الهاتف
        },
        768: {
            items: 1 // يعرض عنصر واحد على الآيباد
        },
        992: {
            items: 1 // يعرض عنصر واحد على اللابتوب
        }
    }
});</script>
{%include 'f.html'%}
