{% include 'header.html' %}

<main id="main" class="main">
    <div class="container mt-5">
        <h2 class="text-center">تسجيل الدخول</h2>
        <form method="POST" action="{{ url_for('login') }}" class="m-3 p-3 border rounded bg-light">
            <div class="mb-3">
                <label class="form-label">اسم المستخدم </label>
                <input type="text" name="name" class="form-control" required>
            </div>
            <div class="mb-3">
                <label class="form-label">كلمة المرور</label>
                <input type="password" name="password" class="form-control" required>
            </div>
            <button type="submit" class="btn btn-primary w-100">تسجيل الدخول</button>
        </form>
        
        <div class="mt-3 text-center">
            <p>ليس لديك حساب؟ <a href="{{ url_for('signup') }}">إنشاء حساب جديد</a></p>
        </div>
    </div>
</main>


